.navbar{
	background-color: #f7f7f7;
	border-bottom: #949494 2px solid;
	margin-bottom: 0;
}
.header-logo{
}

.bodysizy .row{
	min-height: 100%;
    height: 100%;
}

.menuleft{
	border-right:#949494 2px solid;
	overflow: auto;
    height: 100%;
    position: absolute;
    width: 125px;
    top: 0px;
    padding-top: 50px;
}
.container-fluid{
	padding:0;
}
#fit{
	font-size: 25px;
	font-family: 'Russo One', sans-serif;
	color:Black;
}

#house{
	font-size: 25px;
	font-family: 'Russo One', sans-serif;
	color:red;
}

.container-fluid{
	overflow: hidden;
}

